@charset "UTF-8";

/* 
    홈페이지 레이아웃을 설정하는 스타일시트
*/
main{
    margin: 0 auto;
    min-height: 400px;
}
header{
    padding: 20px;
}
nav{
	border-bottom: 1px solid gray;
}
aside{
    padding: 20px;
    float: left;
    width: 20%;
    min-height: 400px;
    background-color: #F5F2EE;
}
section{
    padding: 20px;
    float: left;
    width: 75%;
    min-height: 400px;
}
footer{
    padding: 20px;
}