@charset "UTF-8";

/* 
    홈페이지 레이아웃을 설정하는 스타일시트
*/
main{
    margin: 0 auto;
    min-height: 400px;
}
header{
}
nav{
/* 	border-bottom: 1px solid #e1dcd5; */
}
aside{
    padding: 20px;
    float: left;
    width: 20%;
    min-height: 400px;
}
section{
    padding: 20px;
    float: left;
    width: 75%;
    min-height: 400px;
}
footer{
/* 	background-color: #F7F5F3; */
	border-top: 1px solid #e1dcd5;
    padding: 40px;
}